@import './base.css';

.logo_ft{
  width: 65px;
}

.header{
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: rgba(48, 46, 46, 0.989);
  height: 100px;
  justify-content: space-between;
  padding: 0 10%;
}

.navigation_header{
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-right: 300px;
  gap: 2em;
}

.navigation_header a{
  text-decoration: none;
  color: #fff;
  transition: 1s;
  font-weight: bold;
}

.active :hover{
  padding: 10px;
}


body{ 
  background-color: #7e7e8320;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{ 
  height: 550px;
  width: 390px;
  border: 3px solid rgba(255,255,255.5);
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  position: relative;
  background-image: url(https://i.pinimg.com/564x/62/40/b6/6240b66d5c50c8661eee78b439a7d33c.jpg);

}

.container .top-part{
  height: 100px;
  background:rgba(48, 46, 46, 0.989);
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .container .top-details i{
  font-size: 40px;
  cursor: pointer;
 }

.top-part .agent-details{
  display: flex;
  align-items: center;
}

.container .top-part .agent-details img{
  height: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #b71414fc;
}

.top-part .agent-text{
  margin: left 10px;
}

.agent-text h3{
 font-size: 15px;
 color: #adacac;
 font-family:'Times New Roman', Times, serif
}


.agent-text p{
  font-size: 11px;
  color: #adacac; 
}


.agent-text span{
  color: #0f0; 
}

.chart-section{
  position: relative;
  padding: 0px 20px;
}

.left-part {
  margin:  60px 0;
  max-width: 260px;
}

.agent-part{
  display: flex;
  align-items: center;
}

.left-part img{
  height: 50px;
  background: #b71414fc;
  border-radius: 50%;
}

.left-part p{
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff79;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  font-family: Arial, 'Arial Narrow Bold', sans-serif;
}

.chart-section .right-part{
  margin: -50px 0;
  text-align: right;
  max-width: 260px;
  float: right;
  margin-bottom: 10px;
  font-size: 14px;
}


.chart-section .right-part p{
  color: #fff;
  font-size: 15px;
  background: #b71414fc;
  padding: 8px 24px;
  border-radius: 10px;
}

.chart-section .right-part span{
  color: #555;
  font-size: 11px;
  font-weight: 500;
}

.bottom-section{
  position: absolute;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgba(189, 174, 174, 0.836);
  background-color: rgba(48, 46, 46, 0.989);
  padding: 10px;
}


.bottom-section i{
  color: #20100f;
  font-size: 20px;
}

.bottom-section textarea{
  height: 35px;
  border-radius: 25px;
  width: 125%;
  margin-right: 80px;
  padding: 5px 13px;
  resize: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  overflow-y: hidden;
}

#send{
  position: absolute;
  margin-right: -290px;
  margin-top: 6px;
  height: 45px;
}